* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    text-align: center;
    align-items: center;
    margin-top: 5px;
    font-size: 19px;
}

.nav-links svg {
    border: 1px soild red;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 590;
    padding: 0 3px;
    color: rgb(104, 44, 44);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links a:hover {
    color: blue;
    text-decoration: underline;
}
@media screen and (max-width: 984px) {
    nav{
        flex-direction: column;
        padding: 20px;
    }
    nav img{
        width: 50%;
        align-items: center;
        align-self: center;

    }
}
@media screen and (max-width: 734px) {
    .nav-links{
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
}

/* Navbar End */
/* Banner */
.banner {
    background-color: #E6E7E8;
}

.banner svg {
    position: relative;
    top: 20px;
    right: 35px;
    margin: 0 8px;
}

.banner a {
    font-size: 17px;
    color: black;
}

.banner img {
    width: 100%;
}

/* Banner End */

/* knowledge */

.links {
    text-align: center;
    align-items: center;
    align-self: center;
    margin: 40px 10px;
}

.links a {
    color: brown;
    font-size: 17px;
    font-weight: bolder;
}

.links a:hover {
    color: blue;
}

.knowledge{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.knowledge h1 {
    text-align: center;
    color: blue;   
    font-size: 45px;
    margin: 10px 0;
}

.knowledge h3 {
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
}
.knowledge p{
    text-align: center;
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
}
.member{
    display: flex;
    padding-left: 25%;
}
#non{
    padding: 10px 53px;
}
.member h4{
    border: 1px solid black;
    padding: 10px 70px;
    font-size: 17px;
    background-color: rgba(167, 166, 166, 0.329);
}
.member h5{
    border: 1px solid black;
    font-size: 17px;
    padding: 10px 80px;
}
#member{
    margin-bottom: 50px;
}
.lesson ul{
    padding: 0 40px;
    text-align: center;
}
.lesson li{
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}
.lesson-table{
    display: flex;
    justify-content: space-evenly;
}
.lesson-num{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(180, 180, 180, 0.26);
    padding: 0 30px;
    margin: 0 10px;
    width: 48%;
}
.lesson-num h3{
   margin: 20px 0;
}
.lesson-num ol{
    padding: 0 30px;
}
.entry{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.entry a{
    margin: 10px 0;
    color: brown;
}
.entry a:hover{
    color: blue;
}
@media screen and (max-width: 958px)  {
    .member{
        padding: 0;
        align-items: center;
        align-self: center;
        padding-left: 17%;
    }
}
@media screen and (max-width: 810px) {
    .member{
        padding-left: 0;
        flex-direction: column;

    }
    .member h4{
        padding: 10px 145px;
    }
    #non{
        padding: 10px 128px;
    }
}
@media screen and (max-width:706px) {
    .lesson-table{
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    .lesson-num{
        width: 80%;
        margin: 10px 0;
    }
}